<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>accounts</title>
    <link type="text/css" rel="stylesheet" href="~/layuiadmin/layui/css/layui.css" media="all" />
    <link type="text/css" rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" id="account-search">
                <div class="layui-form-item">
                    <div class="layui-input-wrap layui-inline">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-username"></i>
                        </div>
                        <input type="text" name="name" value="" placeholder="用户名" class="layui-input" lay-affix="clear">
                    </div>

                    <div class="layui-input-wrap layui-inline">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-cellphone"></i>
                        </div>
                        <input type="text" name="phone" placeholder="手机号" lay-affix="clear" class="layui-input">
                    </div>

                    <button class="layui-btn" lay-submit lay-filter="table-search">搜索</button>

                </div>

            </div>
            <div class="layui-card-body">
                <!--工具栏-->
                <script type="text/html" id="ID-table-account-toolbar">
                    <div class="layui-btn-group">
                        <!-- 添加账号 -->
                        <div  type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="add" title="添加账号">
                            添加
                        </div>

                        <!-- 锁定账号-->
                        <div  type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="lock" title="锁定账号">
                            锁定
                        </div>
                        <!--解锁账号-->
                        <div  type="button" class="layui-btn layui-btn-sm layui-btn-primary" lay-event="unlock" title="解锁账号">
                            解锁
                        </div>
                     </div>
                </script>

                <!-- 行编辑按钮 -->
                <!-- 编辑账号 -->
                <script type="text/html" id="cell-operation">
                    <div  type="button" class="layui-btn layui-btn-xs layui-btn-primary"  lay-event="edit" title="编辑账号">
                          <i class="layui-icon layui-icon-edit"></i>
                    </div>
                    <div  type="button" class="layui-btn layui-btn-xs layui-btn-primary"  lay-event="psd" title="修改密码">
                          <i class="layui-icon layui-icon-key"></i>
                    </div>
                        <div  type="button" class="layui-btn layui-btn-xs layui-btn-primary"  lay-event="roles" title="管理角色">
                          <i class="layui-icon layui-icon-user"></i>
                    </div>
                </script>

                <!--table-->
                <table class="layui-hide layui-table" id="ID-table-account" lay-filter="ID-table-account"></table>
                <!--分页栏-->
                <script type="text/html" id="ID-table-account-pagebar">
                    <div class="layui-btn-container" >
                    </div>
                </script>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="~/common/qs.js"></script>
<script type="text/javascript" src="~/schema/ZSchema-browser-min.js"></script>
<script type="text/javascript" src="~/schema/jsonSchemas.js"></script>
<script type="text/javascript" src="~/common/dayjs.min.js"></script>
<script type="text/javascript" src="~/layuiadmin/layui/layui.js"></script>
<script type="text/javascript">
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(function () {

        var table = layui.table,
            form = layui.form,
            layer = layui.layer;

        //表单渲染
        table.render({
            elem: '#ID-table-account'
            , url: '/api/accounts/paged' // API接口
            , request: {
                pageName: 'pageIndex',  //替换分页的字段名称，后端可识别
                limitName: 'pageSize'
            }
            //除分页固定参数之后，其他的拼接参数
            , where: {
                offset: 0,                //数据偏移量
                orderby: "created desc"   //默认排序
            }
            , page: { // 支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip'] //自定义分页布局
                ,prev:"上一页"
                ,next: "下一页"
                //,curr: 5 //设定初始在第 5 页
                //,groups: 1 //只显示 1 个连续页码
                ,limit: 10   //页面数量限制
            }
            , skin: 'default' // 表格风格
            , even: true   //开启偶数行背景色
            , css: [ // 直接给当前表格主容器重置 css 样式
                '.layui-table-page{text-align: center;}' // 让分页栏居中
            ].join('')
            , toolbar: '#ID-table-account-toolbar'
            , pagebar: '#ID-table-account-pagebar' // 分页栏模板
            //,totalRow: true // 开启合计行
            , cols: [[                               // 列名
                { type: 'checkbox', fixed: 'left' }
                , { field: 'uId', title: 'ID' }
                , { field: 'name', title: '用户名' }
                , { field: 'phone', title: '手机号' } //, edit: 'editable'
                , {
                    field: 'sex', title: '性别', width: 60, templet: function (d) {
                        if (d.sex === '男性') {
                            return '<span style="color: blue" title="男性">♂</span>';
                        } else if (d.sex === '女性') {
                            return '<span style="color: pink" title="女性">♀</span>';
                        } else {
                            return '<span style="color: dark" title="跨性别">⚧️</span>';
                        }
                    }
                }
                , { field: 'jobStatus', title: '工作状态'}
                , { field: 'lastLoginIp', title: '最后登录IP' }
                , {
                    field: 'lastLoginTime', title: '最后登录时间', templet: function (d) {
                        if (dayjs(d.lastLoginTime).isValid())
                            return `${dayjs(d.lastLoginTime).format('YYYY-MM-DD hh:mm:ss')}`
                        else return ``
                    }
                }
                , {
                    field: 'created', title: '创建时间', templet: function (d) {
                        return `${dayjs(d.created).format('YYYY-MM-DD hh:mm:ss')}`
                    }
                }
                , {
                    field: 'status', title: '账号状态', templet: function (d) {
                        if (d.status === "启用") {
                            return `<span class="layui-badge  layui-bg-green" > ${d.status} </span>`
                        } else if (d.status === "禁用")
                            return `<span class="layui-badge" > ${d.status} </span>`
                        else {
                            return `<span class="layui-badge layui-bg-orange" > ${d.status} </span>`
                        }
                    }
                }
                , {
                    fixed: 'right', minWidth: 142, title: '操作', toolbar: "#cell-operation"
                }
            ]]
            , response: {
                statusCode: 200 // 重新规定成功的状态码为 200，table 组件默认为 0
            }
            , parseData: function (res) {  //转换后端返回的数据格式
                return {
                    "code": res.status,
                    "msg": res.uimsg,
                    "count": res.data.totalCount,
                    "data": res.data.list
                };
            }
        });

        //外部搜索
        form.on('submit(table-search)', function (data) {
            var field = data.field;
            //console.log('search',field)
            // 执行搜索重载
            table.reload('ID-table-account', {
                page: {
                    curr: 1 // 重新从第 1 页开始
                }
                , where: field // 搜索的字段
            });
            return false; // 阻止默认 form 跳转
        })

        // 单元格编辑后的事件
        //table.on('edit(ID-table-account)', function(obj){
        //  console.log(obj.field, obj.oldValue, obj.value, obj.data)
        //})

        //工具栏事件
        table.on('toolbar(ID-table-account)', function (obj) {
            var id = obj.config.id;
            var checkStatus = table.checkStatus(id);
            switch (obj.event) {
                case 'lock':
                    let data = checkStatus.data.map(x => x.uId);
                    if (data.length === 0) {
                        layer.msg("请至少勾选一行");
                        return;
                    }
                    //提示确认框
                    layer.confirm("确认锁定吗？", function (index) {
                        var param = {
                            "method": "锁定",
                            uIds: data
                        }
                        //console.log(JSON.stringify(param))
                        //fetch 锁定选中的账户
                        updateAccount(param, index);
                    })
                    break;

                case 'unlock':
                    let unluckData = checkStatus.data.map(x => x.uId);
                    if (unluckData.length === 0) {
                        layer.msg("请至少勾选一行");
                        return;
                    }
                    //提示确认框
                    layer.confirm("确认解锁吗？", function (index) {
                        var param = {
                            "method": "解锁",
                            uIds: unluckData
                        }
                        //fetch 解锁选中的账户
                        updateAccount(param, index);
                    })
                    break;
                case 'add':
                    layer.open({
                        title: "添加账号",
                        type: 2,
                        area: ['480px', '455px'],
                        content: '/accounts/create',
                        btn: ["提交", '取消'],
                        yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                //, submitID = 'LAY-account-create'
                                , submitFilter = 'form-account-filter'

                            //1.获取表单数据
                            let formData = iframeWindow.layui.form.val(submitFilter)
                            //2.json schema 校验表单数据
                            if (formData != {}) {
                                let schemas = jsonSchemas.getSchema("account-create")
                                if (schemas.res == false) {
                                    layer.msg(schemas.msg)
                                    return;
                                }
                                let validator = new ZSchema();
                                validator.validate(formData, schemas.data, function (err, valid) {
                                    if (!valid) {
                                        layer.msg(`${err[err.length - 1].title}：${err[err.length - 1].message}`)
                                        return
                                    }
                                    //3.提交表单数据
                                    createAccount(formData, index);
                                });
                            }
                        }
                    })
                    break;
            }
        })

        //【编辑账号】触发单元格工具事件
        table.on('tool(ID-table-account)', function (obj) {
            var data = obj.data; // 获取当前表格属性配置项
            switch (obj.event) {
                case 'edit':
                    //console.log(data,Qs.stringify(data))
                    let params = Qs.stringify(data);
                    layer.open({
                        title: "编辑账号",
                        type: 2,
                        area: ['480px', '458px'],
                        content: `/accounts/edit?${params}`,
                        btn: ["提交", '取消'],
                        yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                //, submitID = 'LAY-account-create'
                                , submitFilter = 'LAY-account-edit-submit'
                            //1.获取表单数据
                            let formData = iframeWindow.layui.form.val(submitFilter)
                            //2.json schema 校验表单数据
                            if (formData != {}) {
                                let schemas = jsonSchemas.getSchema("account-put")
                                if (schemas.res == false) {
                                    layer.msg(schemas.msg)
                                }
                                let validator = new ZSchema();
                                validator.validate(formData, schemas.data, function (err, valid) {
                                    if (!valid) {
                                        layer.msg(`${err[err.length - 1].title}：${err[err.length - 1].message}`)
                                        return
                                    }
                                    //3.提交表单数据
                                    editAccount(formData, index);
                                });
                            }
                        }
                    })
                    break;
                case 'psd':
                    //console.log(data, data.uId)
                    layer.open({
                        title: "修改密码",
                        type: 2,
                        area: ['480px', '268px'],
                        content: `/accounts/psd?uId=${data.uId}`,
                        btn: ["提交", '取消'],
                        yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                //, submitID = 'LAY-account-create'
                                , submitFilter = 'LAY-account-psd-submit'
                            //1.获取表单数据
                            let formData = iframeWindow.layui.form.val(submitFilter)
                            //console.log(formData)
                            //2.json schema 校验表单数据
                            if (formData != {}) {
                                let schemas = jsonSchemas.getSchema("account-psd")
                                if (schemas.res == false) {
                                    layer.msg(schemas.msg)
                                }
                                let validator = new ZSchema();
                                validator.validate(formData, schemas.data, function (err, valid) {
                                    if (!valid) {
                                        layer.msg(`${err[err.length - 1].title}：${err[err.length - 1].message}`)
                                        return
                                    }
                                    //判定 password 和 cpassword 的值是否一致
                                    if (formData["password"] !== formData["cpassword"]) {
                                        layer.msg("两次输入的密码不一致");
                                        return;
                                    }

                                    var param = {
                                        "method": "修改密码",
                                        uIds: [formData["uId"]],
                                        password: formData["password"]
                                    }
                                    //fetch 解锁选中的账户
                                    updateAccount(param, index);
                                });
                            }
                        }
                    })
                    break;
                case 'roles':
                    layer.open({
                        title: "管理角色",
                        type: 2,
                        area: ['480px', '268px'],
                        content: `/roles?uId=${data.uId}`,
                        btn: ["提交", '取消'],
                        yes: function (index, layero) {
                            let iframeWindow = window['layui-layer-iframe' + index]
                                //, submitID = 'LAY-account-create'
                                , submitFilter = 'form-roles-filter'
                            //1.获取表单数据
                            let formData = iframeWindow.layui.form.val(submitFilter)
                            
                            let formKey=Object.keys(formData);
                          
                            data = new FormData();
                          
                            //数组请求出现bug?
                            data.append("rIds",["fc081060-dda5-4dec-8f62-df2845c57100", "11433cc1-098a-4463-8e6f-8f85942e7525"])
                            
                            console.log(data)

                            editRoles(data, index);
                        }
                    })
            }
        })

        /**
        * bref fetch 修改用户角色
        * param data json格式的表单参数
        * param layerIndex 弹窗的 index
        */
        async function editRoles(data, layerIndex) {
            let loadIndex = layer.load(0);
            await fetch(`/api/roles`,
                {
                    method: 'post',
                    //headers: {
                    //    'Content-Type': 'application/json'
                    //},
                    body: data
                })
                .then(response => response.json())
                .then(result => {
                    layer.close(loadIndex);
                    if (result.status == 200) {
                        layer.close(layerIndex); //关闭弹层
                        layer.msg("修改角色成功");
                    } else {
                        layer.msg(result.uimsg);
                    }
                })
                .catch(function (ex) {
                    layer.close(loadIndex);
                    console.log('parsing failed', ex);
                })
        }

        /**
        * bref fetch 修改账号状态
        * param data json格式的表单参数
        * param layerIndex 弹窗的 index
        */
        async function updateAccount(data, layerIndex) {
            console.log(data)
            let loadIndex = layer.load(0);
            await fetch(`/api/accounts`,
                {
                    method: 'patch',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(result => {
                    layer.close(loadIndex);
                    if (result.status == 200) {
                        table.reload('ID-table-account');
                        layer.close(layerIndex); //关闭弹层
                        layer.msg("操作账号成功");
                    } else {
                        layer.msg(result.uimsg,result.msg);
                    }
                })
                .catch(function (ex) {
                    layer.close(loadIndex);
                    console.log('parsing failed', ex);
                })
        }

        /**
        * bref fetch 修改账号
        * param data json格式的表单参数
        * param iframeIndex 弹窗的 index
        */
        async function editAccount(data, iframeIndex) {
            let loadIndex = layer.load(0);
            await fetch(`/api/accounts`,
                {
                    method: 'put',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(result => {
                    layer.close(loadIndex);
                    if (result.status == 200) {
                        table.reload('ID-table-account');
                        layer.close(iframeIndex); //关闭弹层
                        layer.msg("编辑账号成功");
                    } else {
                        layer.msg(result.uimsg);
                    }
                })
                .catch(function (ex) {
                    layer.close(loadIndex);
                    console.log('parsing failed', ex);
                })
        }

        /**
         * bref fetch 创建账号
         * param data json格式的表单参数
         * param iframeIndex 弹窗的 index
         */
        async function createAccount(data, iframeIndex) {
            let loadIndex = layer.load(0);
            await fetch(`/api/accounts`,
                {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(result => {
                    layer.close(loadIndex);
                    if (result.status == 200) {
                        table.reload('ID-table-account');
                        layer.close(iframeIndex); //关闭弹层
                        layer.msg("账号添加成功");
                    } else {
                        layer.msg(result.uimsg);
                    }
                })
                .catch(function (ex) {
                    layer.close(loadIndex);
                    console.log('parsing failed', ex);
                })
        }
    })
</script>