<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>welcome</title>
    <link type="text/css" rel="stylesheet" href="~/layuiadmin/layui/css/layui.css" media="all" />
    <link type="text/css" rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">
</head>
<body >
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <!--公告模块-->
            <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header">公告</div>
                    <div class="layui-card-body ">          
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs12 layui-col-sm4">
                                <div class="layuiadmin-card-text">
                                    <div class="layui-text-top"><i class="layui-icon layui-icon-notice"></i><a lay-href="">版本更新</a></div>
                                    <p class="layui-text-center">公告。。。</p>
                                    <p class="layui-text-bottom"><span>0 天前</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--版本信息模块-->
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">版本信息</div>
                    <div class="layui-card-body layui-text">
                        <table class="layui-table">
                            <colgroup>
                                <col width="90">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>视图版本</td>
                                    <td>
                                        <script type="text/html" template>
                                            v{{ layui.admin.v }}
                                            
                                        </script>
                                    </td>
                                </tr>
                                <tr>
                                    <td>视图框架</td>
                                    <td>
                                        <script type="text/html" template>
                                            layui-v{{ layui.v }}
                                        </script>
                                    </td>
                                </tr>
                                <tr>
                                    <td>项目框架</td>
                                    <td>
                                        <script type="text/html" template>
                                            layuiadmin + jwt +.net 6 + pomelo.ef + mysql
                                        </script>
                                    </td>
                                </tr>
                                <tr>
                                    <td>主要特色</td>
                                    <td> 响应式  / 极简 / 自定义</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="~/layuiadmin/layui/layui.js"></script>
<script type="text/javascript">
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use("index")
</script>